/* Navar section */
header{
    width: 100%;
    padding: 20px 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}
/* Navbar checkbox */
#checkbox_toggle{
    display: none;
}
/* Navbar hamburguer */
.hamburguer{
    display: none;
    user-select: none;
    font-size: 24px;
}
@media (max-width: 876px){
    header{
        padding: 20px 40px;
    }
    /* Navbar checkbox */
    #checkbox_togle:checked~.navbar{
        display: inline-block;
        max-width: 600px;
        padding: 10px;
        margin-right: 5px;
        position: absolute;
        right: 10px;
        top: 70px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(20px);
        text-align: center;
    }
    /* navbar hamburguer */
    .hamburguer{
        display: block;
        color: white;
        font-size: 2em;
        z-index: 99;
    }
}
