a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
@media (max-width: 876px){
    a{
        margin-left: 20px;
        font-size: .9em;
    }
    a:hover{
        display: inline-block;
        background: transparent;
        transition: .3s ease;
    }
    @media (max-width: 560px){
        a{
            margin-left: 5px;
        }   
    }
}